html, body {
    background-color: red;
    margin: 0;
    height: 2000px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal-curtain {
    height: 101vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(50, 50, 50, 0.92);
    visibility: hidden;
}
/*this does the positioning for modals, and applies default styles if none are provided when the modal is opened*/
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    visibility: hidden;
    background-color: yellow;
    height: 100px;
    width: 100px;
}
/*can optionaly assign styles to id in css file, or pass them all in through the openModal function*/
/*#modalDir {
  background-color: black;
  height: 200px;
  width: 200px;
}*/